<div class="card">
  <div class="card-header">
    <i class="fa fa-user"></i> Registro de Usuarios

  </div>

  <div class="card-body">
    <div class="text-right "><a href="" class="btn btn-sm btn-outline-info" [routerLink]="'ucreate'"><i class="fa fa-user-plus"></i> Nuevo Usuario</a></div>
    <br>
    <table class="table table-responsive-sm">
      <thead>
      <tr>
        <th>N°</th>
        <th>Usuario</th>
        <th>Documento</th>
        <th>Rol</th>
        <th>Estado</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let usuario of asesor">
        <td>*</td>
        <td>{{ usuario.cNomUsuAdm }} </td>
        <td>{{usuario.cCodUsuWin}}</td>
        <td>Member</td>
        <td>
<!--          <div *ngIf="usuario.lEstadoUsu==true as value; else elseBlock">-->
            <span class="badge badge-success">Activo</span>
<!--  </div>-->
<!--          <ng-template #elseBlock>-->
<!--            <span class="badge badge-danger">Baneado</span>-->
<!--          </ng-template>-->
        </td>
        <td>
          <button class="btn btn-sm btn-dark" type="button"><i class="fa fa-edit" title="Editar" [routerLink]="'create'"></i></button> |
          <button class="btn btn-sm btn-warning" type="button"><i class="fa fa-ban" title="Eliminar"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#">Prev</a>
      </li>
      <li class="page-item active">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">4</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </div>
</div>
